name: Build

permissions:
  contents: write

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      skip_build:
        description: 'Skip build (for testing)'
        required: false
        type: boolean
        default: false

jobs:
  call-build-workflow:
    if: "!contains(github.event.head_commit.message, '[skip ci]') && !inputs.skip_build"
    uses: ./.github/workflows/reusable_build.yml
    with:
      build_number: ${{ github.run_number }}
